* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3A9A49;
    font-weight: 400;
}

.header > .title {
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-top: 25px;
}

.header > .sub-title {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    padding: 0 36px;
}

.header > .score {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 36px;
    margin-top: 20px;
}

.card {
    width: 250px;
    height: 252px;
    margin: 34px auto 0;
    background-color: #fff;
    border-radius: 10px;
}

.card > .card-name {
    height: 58px;
    background-color: #4A7ECB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.options-wrapper {
    height: 194px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options-wrapper > .option {
    width: 214px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 14px;
}

.button {
    padding: 16px 24px;
    background-color: #4A7ECB;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

@media (min-width: 625px) {
    .card-wrapper {
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 940px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr)
    }
}